@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
}

.shadow {
  -webkit-box-shadow: 0px 0px 18px 3px rgba(156, 156, 156, 0.12);
  -moz-box-shadow: 0px 0px 18px 3px rgba(156, 156, 156, 0.12);
  box-shadow: 0px 0px 18px 3px rgba(156, 156, 156, 0.12);
}

.white-button {
  padding: 0 35px;
  border-radius: 25.5px;
  background-color: white;

  a {
    color: $blue;
  }
}

.red-button {
  border-radius: 25.5px;
  background-color: $red;
  padding: 13px 25px;
  display: inline-block;
  margin-top: 10px;

  a {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

.h2-title {
  font-weight: bold;
  font-size: 54px;
  color: $grey1;
}

#cloud-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.cloud-card {
  background-color: white;
  height: 550px;
  margin: 13px;
  border-radius: 12px;
  overflow: hidden;
}

.cloud-section-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
}

.cloud-cards-container {
  display: flex;
  margin: 15px 0;
}

.flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cloud-img {
  transform: scale(1.25);
  top: -28px;
  position: relative;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
}

.card-body {
margin-top: 45px;
  p {
    font-size: 17px;
    font-weight: 600;
    color: $grey3;
    line-height: 2;
    width: 78%
  }

  a {
    font-weight: bold;
    font-size: 17px;
    color: $blue;
  }
}

.fas {
  color: $blue;
}